<meta charset="utf-8" /> 
<html>
    <header>
        <p style="text-align:center"><img src="/static/logo.png" alt="logo de mon site" title="mon logo" /></p>
    </header>
    <body>
        <div style="margin: auto; width: 50%;">
        <p style="text-align:center">Veuillez entrer les symptomes que le patient a :</p>
        <form NAME="Choix">
            <div style="margin: auto; width: 50%;">
                <p style="text-align:center">
                    <label for="1">Symptome:</label>
                    <select NAME="Liste" onChange="">
                        <option VALUE=""> Choisir un symptome
                            {% for new_item in dict1["Symptome_list"] %}
                               <option VALUE=""> {{ new_item }} 
                            {% end %}
                    </select>
                </p>
            </div>
        </form>
        {% if dict1["index2"] %}
        <div>
            <p style= margin: 0 auto;>
                <form METHOD="get" ACTION="/symptomes">
                    <input TYPE="submit" NAME="nom" VALUE="Valider">
                </form>
            </p>
        </div>
        {% end %}
        {% if dict1["symptomes"] %}
        <div>
            <form METHOD="get" ACTION="/pathologie">
                <p style="margin: auto">Veuillez entrer la pathologie que vous pensez qu'il a :</p>
                {% for new_item in dict1["Pathologie_list"] %}
                    <input TYPE="submit" NAME="{{ new_item[0] }}" VALUE="{{ new_item[0] }}"> <br />
                {% end %}
                    
    </form>
        </div>
        {% end %}
        </divstyle="margin:>
        {% if dict1["pathologie"] %}
            <p style="text-align:center";>Voila la liste des traitements adaptes à cette situation :</p>
            <div>
                <p style="text-align:center">Patate 1 : 95</p>
                <P style="text-align:center">Patate 2 : 88</P>
                <p style="text-align:center">Patate 3 : 75</p>
            </div>
            <p></p>
            <FORM>
                <INPUT TYPE="submit" NAME="nom" VALUE="Feedback">
            </FORM>
        {% end %}
        </div>
    </body>
</html>